---
---
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html, body {
  margin:0;
  padding:0;
}

html {
  font-size: 100%;
  background: hsla(40,40%,40%,.175);
  padding: 0 1rem;
}


body {
  color: #444;
  font: 18px/1.5 "Lusitana", Georgia, serif;
  padding: 0;
  background: #fafafa;
  min-height: 100vh;
}

h1 {
  font-weight:normal;
}

h2,h3 {
  * + & {
    margin-top: 2rem;
  }

}

h3 {
  font-size: 1em;
  font-weight: bold;
}

a {
  &:link {
    color: hsla(40,100%,50%,.9);
  }
  &:visited {
    color: hsla(40,100%,50%,.7);
  }
  &:hover,
  &:focus,
  &:active {
    color: hsla(35, 100%,45%,.9);
  }
}

#banner {
    padding: 1rem;
    text-align:left;
    p {
        font-size: .9rem;
    }
    
}

#banner,
#main {
    background: hsla(40,100%,50%,.8);
    background: hsl(40,60%,98%);
    padding: 1rem 3rem;
}

article {
  header {
    h1 {
      font-size: 2.5rem;
      margin-top:0;
      &:after {
        display:block;
        margin: 2rem 0 6rem;
        content: " ";
        width: 2rem;
        height: .125rem;
        background-color: hsla(40,100%,50%,.8);
      }
    }
  }
}

.audible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

