---
---
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  border-top: .25rem solid rgba(0,0,0,0.125);
}
html, body {
  margin:0;
  padding:0;
}

body {
  color: #444;
  font: 18px/1.5 "Lusitana", Georgia, serif;
}

h1 {
  font-weight:normal;
}

h2,h3 {
  * + & {
    margin-top: 2rem;
  }

}

h3 {
  font-size: 1em;
  font-weight: bold;
  
}

a {
  &:link {
    color: hsla(200,70%,50%,.9);
  }
  &:visited {
    color: hsla(200,70%,50%,.7);
  }
  &:hover,
  &:focus,
  &:active {
    color: hsla(200, 20%,50%,.9);
  }
}

#banner {
  margin: 2rem 0 8rem;
  text-align:center;
  p {
    font-size: .925rem;
    margin:0;
  }
}

#banner,
#main {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

article {
  header {
    h1 {
      font-size: 3rem;
      text-align: center;
      &:after {
        display:block;
        margin: 3rem auto;
        content: " ";
        width: 5rem;
        height: .125rem;
        background-color: hsla(200,100%,70%,.7);
      }
    }
  }
}

.audible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

