---
---
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

* {
  box-sizing: border-box;
}

html,body {
  margin:0;
  padding:0;
}

body {
  font-family: "Libre Franklin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.75;
  padding: 0 1rem;
  color: #303030;
  background: #f4f4ee;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

h1 {
  font-weight: 800;
  line-height: 1;
  font-size: 3rem;
  margin-bottom:0;
}


h2,h3,h4,h5,h6 {
  margin-bottom:0;
}

h1 + p,
h1 + h2,
h1 + ul,
h1 + ol,
h2 + p,
h2 + ul,
h2 + ol,
h2 + h3,
h3 + p,
h3 + ul,
h3 + ol,
h3 + h4 {
  margin-top:0;
}

a:link,
a:visited {
  color: rgba(100, 50, 50, 0.9);
}

a:hover,
a:focus {
  color: rgba(120, 50, 100, 0.9);
}
a:active {
  color: #303030;
}
blockquote {
  margin: 4rem 2rem;
  background: rgba(255,255,255,0.25);
  padding: 3rem;
  border: 1px solid rgba(0,0,0,0.125);
  box-shadow: 10px 10px 0 rgba(100,50,50, 0.075);

}

blockquote p {
  margin:0;
}

#banner {
  border-bottom: 1px solid rgba(0,0,0,0.075);
  display:flex;
  flex-wrap:nowrap;
  justify-content: space-between;
  padding: 2rem 0;
}

#banner p {
  margin:0;
}

nav a {
  padding-right: 0.5rem;
}

nav a+a {
  padding-left: 0.5rem;
}

main > h1:first-of-type,
article header h1:first-of-type {
  margin: 8rem 0;
}

footer {
  border-top: 1px solid rgba(0,0,0,0.075);
  margin-top: 4rem;
}

@media screen and (min-width: 500px) {

body {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 700px;
  margin: 0 auto;
}

section {
  margin: 4rem 0;
}

section+section {
  border-top: 1px solid rgba(0,0,0,0.075);
  padding-top: 2rem;
}
}