<!DOCTYPE html>
<meta charset="utf-8">
<title>{{ page.title }} · {{ site.title }}</title>
<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
<a href="#main" class="visually-hidden">Skip to main content</a>
<header role="banner" id="banner">
  <p><a href="{{ site.baseurl }}/">{{ site.title }}</a> is a wreckage of intention.</p>
</header>
<main role="main" id="main">
{{ content }}
</main>
<footer role="contentinfo">
  <ul>
    <li>Office: Shannon Library 308D (Scholars’ Lab)</li>
    <li>Email: <a href="mailto:jeremy@virginia.edu">jeremy@virginia.edu</a></li>
</ul>
</footer>