<!DOCTYPE html>
<meta charset="utf-8">
<title>{{ site.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Lusitana|Raleway" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
<a href="#main" class="visually-hidden">Skip to main content</a>
<header role="banner" id="banner">
  <p><a href="{{ site.baseurl }}/">{{ site.title }}</a> is a designer and
  developer in the Scholars’ Lab at the University of Virginia
  Library.</p>
</header>
<main role="main" id="main">
{{ content }}
</main>
